* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a.btn {
  padding: 10px 30px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 400;
}
a.btn.dark {
  background-color: #040707;
  border: 2px solid #040707;
}
a.btn.dark:hover {
  opacity: 0.8;
}
a.btn.light {
  color: #040707;
  border: 2px solid #040707;
}
a.btn.light:hover {
  opacity: 0.8;
}
a.btn.white {
  color: black;
  background-color: white;
}
a.btn.white:hover {
  opacity: 0.8;
}

.icons {
  margin-top: 20px;
  font-size: 2em;
  cursor: pointer;
}
.icons .fa-instagram {
  color: #e4405f;
}
.icons .fa-facebook-square {
  color: #3b5998;
}
.icons .fa-twitter-square {
  color: #1da1f2;
}
.icons .fa-youtube-square {
  color: #cd201f;
}
.icons .fa-pinterest-square {
  color: #bd081c;
}
.icons .fa-rss-square {
  color: #ff8d00;
}

header {
  width: 100%;
  background-color: #101010;
  font-size: 0.9em;
}
header .top {
  height: calc(100px / 2);
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .top .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
header .top .item i {
  color: #009cff;
  margin-right: 5px;
}
header .top .item span {
  color: #999;
  cursor: pointer;
}
header .top .item span:hover {
  color: #fff;
  text-decoration: underline;
}
header .bottom {
  height: calc(100px / 2);
}
header .bottom .container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .bottom .container img {
  width: 90px;
  position: relative;
  bottom: 4px;
  cursor: pointer;
}

nav {
  flex-grow: 1;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav > ul li a {
  display: inline-block;
  line-height: 50px;
  padding: 0 25px;
}
nav > ul li a:hover {
  color: #040707;
  background-color: #e8e8e8;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #e8e8e8;
  z-index: 2;
}
.dropdown li a {
  display: inline-block;
  width: 100%;
  color: #040707;
  font-weight: lighter;
}
.dropdown li a:hover {
  background-color: #d7d7d7;
}

nav > ul li:hover .dropdown {
  display: block;
}

.jumbotron {
  background: url("../img/bg-painter-home.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 500px;
}
.jumbotron .container {
  position: relative;
  height: 100%;
}
.jumbotron .container .text {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.jumbotron .container img {
  height: 60px;
}
.jumbotron .container p {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 30px;
}
.jumbotron .container p.purple {
  color: #ca1eb5;
  font-style: oblique;
  margin-bottom: 60px;
}
.jumbotron .container p.purple span {
  display: block;
  font-weight: bold;
}

main {
  background-color: #e8e8e8;
}
main h2 {
  text-align: center;
  color: #333;
  font-size: 2.1em;
  font-weight: 400;
  padding: 30px 0;
}

.painting {
  padding: 30px 0;
}
.painting .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.painting .container .box {
  flex-basis: calc(100% / 3 - 20px);
  background-color: white;
  cursor: pointer;
}
.painting .container .box img {
  width: 100%;
}
.painting .container .box .text {
  padding: 20px;
}
.painting .container .box .text span {
  display: inline-block;
  margin-right: 5px;
  color: #009cff;
  font-style: oblique;
}
.painting .container .box .text p {
  margin: 15px 0;
}
.painting .container .box .text a {
  color: #009cff;
}
.painting .container .box .text a:hover {
  text-decoration: underline;
}
.painting .container .box.center {
  margin: 0 30px;
}

.stripe-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 325px;
}
.stripe-container .left {
  flex-basis: 50%;
  height: 100%;
  color: white;
  padding: 60px 50px;
}
.stripe-container .left h3 {
  font-size: 1.8em;
  font-weight: 400;
}
.stripe-container .left p {
  margin-top: 20px;
  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 300;
}
.stripe-container .left a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 300;
}
.stripe-container .right {
  height: 100%;
  flex-basis: 50%;
}
.stripe-container .right img {
  width: 70%;
  position: relative;
  top: 20px;
  left: 20px;
}
.stripe-container.wacom .left {
  background-color: #3c1567;
}
.stripe-container.wacom .right {
  background: url("../img/wacom-painter.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.stripe-container.masters .left {
  background-color: #3c3c3c;
}
.stripe-container.masters .right {
  background: url("../img/painter-master.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.stripe-container.business .left {
  background-color: #0072bc;
}
.stripe-container.business .right {
  background: url("../img/business-education.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

footer {
  background-color: #e8e8e8;
  color: #040707;
}
footer .top {
  padding: 60px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .top ul {
  flex-basis: 25%;
}
footer .top li {
  margin-bottom: 5px;
}
footer .top li:first-of-type {
  margin-bottom: 10px;
  cursor: default;
  font-size: 0.95em;
}
footer .top li:not(:first-of-type) a {
  font-size: 0.8em;
  font-weight: 300;
}
footer .top li:not(:first-of-type):hover {
  text-decoration: underline;
}
footer .top li a {
  color: #4d4d4d;
}
footer .top .last .icons:hover {
  text-decoration: none;
}
footer .bottom {
  background-color: #1e1e1e;
  padding: 20px 0;
}
footer .bottom .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .bottom .container .left {
  flex-basis: 30%;
}
footer .bottom .container .left img {
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
}
footer .bottom .container .right {
  flex-grow: 1;
}
footer .bottom .container .right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .bottom .container .right ul li {
  margin-right: 30px;
  font-size: 0.85em;
  color: #fff;
}
footer .bottom .container .right ul li a {
  color: #999;
}
footer .bottom .container .right ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
