.dropdown {
  display:none;
  position: absolute;
  background-color: $bcgMain;
  z-index: 2;
  li {
    a {
      display: inline-block;
      width: 100%;
      color: $fontColor1;
      font-weight: lighter;
      &:hover {
        background-color: #d7d7d7;
      }
    }
  }
}

nav > ul li:hover .dropdown {
  display: block;
}
