header {
  width: 100%;
  background-color: $bcgHeader;
  font-size: .9em;
  .top {
    height: calc(#{$headerHeight} / 2);
    font-size: .9em;
    @include flex(flex-end);
    .item {
      @include flex(flex-start);
      margin-right: $m20;
      i {
        color: $fontColor5;
        margin-right: $m5;
      }
      span {
        color: $fontColor3;
      }
    }
  }
  .bottom {
    height: calc(#{$headerHeight} / 2);
    .container {
      height: 100%;
      @include flex(flex-start);
      img {
        width: 90px;
        position: relative;
        bottom: 4px;
      }
    }
  }
}
