nav {
  flex-grow: 1;
  ul {
    @include flex(space-between);
    padding-left: calc(#{$p20} * 2);
    padding-right: calc(#{$p20} * 6);
    li {
      padding: 16px 20px;
      a {
      }
      i {
        font-size: .6em;
        color: $fontColor3;
      }
      &:hover {
        background-color: $bcgMain;
      }
      &:hover a {
        color: $bcgHeader;
      }
    }
  }

}
