nav {
  flex-grow: 1;
  & > ul {
    @include flex(space-between);
    padding: 0 50px;
    li {
      a {
        display: inline-block;
        line-height: 50px;
        padding: 0 25px;
        &:hover {
          color: $fontColor1;
          background-color: $bcgMain;
        }
      }
    }
  }
}
